{% extends 'teachers_dashboard/index.html' %}

{% block notice_create %}
<div class="content-wrapper ">

<section class="content add_teacher">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Notice</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/update_notice" method="POST">
              {% csrf_token %}
              {% for teach in Notice %}
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Title</label>
                  <input type="hidden" name="n_id" class="form-control" value = {{ teach.id }} id="exampleInputEmail1" placeholder="Enter Name">
                  <input type="text" name="title" class="form-control" value = {{ teach.title }} id="exampleInputEmail1" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Link</label>
                    <input type="text" name="link" class="form-control" value= {{ teach.link }} id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Discription</label>
                    <input type="text"  name="discription" value= {{ teach.discription }} class="form-control" id="exampleInputEmail1" placeholder="Enter Qualification">

                  </div>
                  {% endfor %}
         
              <!-- /.card-body -->

              <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

  {% endblock notice_create %}