{% extends 'home/home.html' %}

{% block login %}
<div class="my_login" >

{% if request.session.login_error == 'True' %}
<div class="alert alert-danger">
  <strong>Login Faild!</strong> Faild to login please cheack your email id and password!.
</div>
{% endif %}

<form action="/att_user_login" method="post" class="login-form" >
  {% csrf_token %} 
  <h1>Login</h1>

  <div class="txtb">
    <input type="email" name="email">
    <span placeholder="E-mail"></span>
  </div>

  <div class="txtb">
    <input type="password" name="password">
    <span placeholder="Password"></span>
  </div>

  <input type="submit" class="logbtn" value="Login">

  <div class="bottom-text">
    Don't have account? <a href="#">Sign up</a>
  </div>

</form>
</div>

<script type="text/javascript">
$(".txtb input").on("focus",function(){
  $(this).addClass("focus");
});

$(".txtb input").on("blur",function(){
  if($(this).val() == "")
  $(this).removeClass("focus");
});

</script>


<!-- /.login-box -->
{% endblock login %}
